@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.gold { color: #BD9C60; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { 
  -webkit-transition: 0.5s all ease; 
  -moz-transition: 0.5s all ease; 
  transition: 0.5s all ease; 
}

.first-letter::first-letter { text-transform: capitalize; }

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 50%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper {  width: 46.33%; }
.top { padding-top: 17px; }

.top address {
  width: 18.5%;
  float: left;
  color: rgb(168, 173, 179);
  font-size: 10px;
}

.top .social {  
  width: 12%;
  float: right; 
}

.social a {
  color: #000;
  font-size: 12px;
}

.social a:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translatey(-5px);
  transform: translatey(-5px);
}

.social li {  margin-right: calc(16% - 4px); }
.social li:last-child { margin-right: 0;}

h1 {
  padding: 50px 0 26px;
  font-size: 44px;
  text-align: center;
}

.ham { display: none; }
nav { padding: 8px;}
nav li { margin-right: calc(12.5% - 4px); }
nav li:last-child { margin-right: 0; }

nav li a {
  color: #CCD0D5;
  font-size: 10px;
}

header { 
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: #FFFFFF;
}

header:after {
  content: "";
  width: 99.9%;
  position: absolute;
  z-index: 2;
  bottom: 15%;
  padding: .5px;
  background-color: #CCD0D5;
  display: inline-block;
}

.active,
nav li a:hover { color:#BD9C60;}
 /*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* our restaurant styles starts*/
.restaurant {  padding: 44px 0 42px; }
.restaurant li{ width: calc(47% - 4px); } 

.restaurant li:nth-child(1) {
  padding-top: 66px;
  margin-right: 27px;
}

.restaurant li:nth-child(2) {  vertical-align: top; }

h2 {
  font-size: 11px;
  color: rgb(112, 110, 106);
}

h3 {
  width: 62%;
  padding: 5px 0 13px;
  font-size: 24px;
  font-style: italic;
  font-family: cursive;
}

.restaurant li:nth-child(3) {   
  margin-top: -150px; 
  margin-right: 20px;
  float: right; 
}

.restaurant li:nth-child(4) {  padding-top: 30px; }
.restaurant li:nth-child(4) h2 { padding-top: 48px; } 
.restaurant li:nth-child(4) h3 { width: 50%; }

.restaurant li p {
  width: 90%;
  padding-bottom: 10px;
  color: rgb(112, 110, 106);
  font-size: 12px;
  line-height: 18px;
}

.restaurant li:nth-child(4) p {  width: 70%; }

.restaurant ul li:nth-child(5) {
  margin-top: -315px;
  margin-right: 20px;
  float: right; 
}

.restaurant li a {
  color: rgb(112, 110, 106);
  font-size: 12px;
}

.restaurant li a:hover { color:#BD9C60; }
/* our restaurant styles ends */
/* testimonial sectio starts */
.testimonial figure {  width: 97%; }
.testimonial .figure-container { position: relative; }

.figure-container a {
  padding: 33px 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FFF;
  color: rgb(112, 110, 106);
  font-size: 10px;
  transform: translate(-50%, -50%);
}

.figure-container a span {
  padding-top: 10px;
  display: block;
  text-align: center;
}

.figure-container a:hover {
  border-radius: 2px;
  color: #fff;
  background-color: #BD9C60;
}

.testimonial-content {
  text-align: center;
}
.testimonial-content a {
  padding: 40px 0 10px;
  display: block;
  color: rgb(112, 110, 106);
  font-size: 10px;
}

.testimonial-content a:hover { color: #BD9C60; }

.testimonial-content span {
  width: 70%;
  display: block;
  margin: 0 auto;
  width: 62%;
  font-size: 24px;
  font-style: italic;
  font-family: cursive;
}

.testimonial-content span::before,
.testimonial-content span::after {
  content: "\"";
}
/* testimonial section ends */
/* order section styles starts */
.order {  padding: 16.5% 0 10%; }

.order ul {
  width: 80%;
  margin: 0 auto;
}

.outer-list > li {
  margin-right: 20px;
  position: relative;
}

.outer-list > li a {
  color: rgb(112, 110, 106);
  font-size: 12px;
}

.outer-list > li a:hover{  color: #BD9C60; }

.outer-list > li a:hover + ul {
  display: block;
  position: absolute;
  top: 5;
}

.outer-list > li span {
  color: #000;
  margin-left: 60px;
}

.inner-list {  display: none; }
.inner-list li {  display: block; }

.outer-list .book {
  padding: 8px 35px;
  border: 1px solid #BD9C60;
  background-color: #BD9C60;
  color: #FFF;
}

.outer-list .book:hover {
  border: 1px solid #BD9C60;
  background-color: #fff;
  color: #BD9C60;
}
/* order section styles ends */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 35px 0;
  background-color: #BD9C60;
}

.form-container {
  width: 50%;
  display: inline-block;
}

footer span:nth-child(1) {
  color: #FFF;
  font-size: 9px;
}

footer form input { 
  width: 79%; 
  outline: none;
  margin-bottom: 5px;
  color: rgb(112, 110, 106);
}

footer form input[type="email"]{
  border: 1px solid #000;
  padding: 5px 0;
}

footer form input[type="button"]{
  padding: 5px 0;
  background-color: #fff;
  font-size: 10px;
}

footer form input[type="button"]:hover {  color: #BD9C60; }

footer form input[type="email"]::placeholder {
  padding-left: 15px;
  font-size: 10px;
}

.social-container { float: right; }
.social-container span a { color: #FFF; }
.social-container span a:hover {  color: #000; }
footer .social li {  margin-right: calc(6% - 4px); }
footer .social li:last-child { margin-right: 0;}
footer .social span { font-size: 15px; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  